body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 20%, rgba(190,177,220,1) 52%, rgba(148,187,233,1) 86%);
font-family: sans-serif;
color: aqua;
}
main{
    width: 730px;
    margin: 150px auto 50px;
    display: flex;
    align-items: center;

}
.section1{
    background-color: rgb(255, 255, 255, 0.2);
    padding:0  50px 50px 50px;
    border-radius: 8px;
}
h2{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
.section2{
    background-color: rgb(255, 255, 255, 0.2);
    width: 250px;
    height: 400px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
}
.estadistics{
    border: 1px solid aqua;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;    
}
footer{
    text-align: center;
    
}
a{
    text-decoration: none;
}